@font-face{
  src:url('JosefinSans-Thin.ttf');
  font-family: JosefinSans;
}
body{
  margin: 0;
  background-color: #ecf0f1;
  font-family: JosefinSans;
}
.player{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  padding: 20px;
}
.player input{
  width: 100%;
  border:none;
  padding: 5px 20px;
  font-size: 20px;
  text-transform: capitalize;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  color: #000;
}
.player .calc{
  width: 100%;
  height: 38px;
  margin-top: 5px;
  padding: 10px 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
}
.player .calc span{
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin:2px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);

}
.player.player_two{
  right: 0;
}
.player.player_one span{
  background-color: #ded6cd;
}
.player.player_two span{
  background-color: #333;
}
#board{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 600px;
  height: 600px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.6);
}
#board table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
#board table tr td{
  position: relative;
}
#board table tr:nth-child(odd) td:nth-child(odd), 
#board table tr:nth-child(even) td:nth-child(even) {
  background: #ccc;
}
#board table tr:nth-child(odd) td:nth-child(even),
#board table tr:nth-child(even) td:nth-child(odd){
  background-color: #333;
}
#board table tr td span{
  position: absolute;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  cursor: pointer;
  opacity: .8;
}
#board table tr td span:active{
  opacity: 1;
}
#board table tr td span.w{
  background-color: #fff;
}
#board table tr td span.b{
  background-color: #000;
}
.available{
  background-color: #6fc36f !important;
  cursor: pointer;
}


